<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--下划线和驼峰的自动转换-->

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!--<mappers>
		 Mapper文件可以和interface不在相同路径下！
		<mapper resource="com/alphatheta/kw/daos/*.xml" />
	</mappers> -->

</configuration>